- name: Add Proxmox APT Key
  become: true
  ansible.builtin.get_url:
    url: https://enterprise.proxmox.com/debian/proxmox-archive-keyring-trixie.gpg
    dest: /usr/share/keyrings/proxmox-archive-keyring.gpg

- name: Add PBS Client repo
  become: true
  deb822_repository:
    name: proxmox-client
    uris: http://download.proxmox.com/debian/pbs-client
    suites: trixie
    components: main
    signed_by: /usr/share/keyrings/proxmox-archive-keyring.gpg

- name: Install Proxmox Backup Client
  become: true
  ansible.builtin.apt:
    pkg:
      - proxmox-backup-client
    state: present
    update_cache: true

- name: Set up backup directory
  become: true
  ansible.builtin.file:
    state: directory
    name: /opt/backup
    mode: "0750"
    owner: root
    group: backup
 
- name: Install backup token
  become: true
  ansible.builtin.copy:
    content: "{{ backup.tokenSecret }}"
    dest: /opt/backup/token
    owner: root
    group: backup
    mode: "0640"
