include "/etc/bind/transfer.keys";

acl internal
	{
	!key external-key;
	key internal-key;
	10.0.0.0/8;
	172.16.0.0/12;
	192.168.0.0/16;
	127.0.0.0/8;
	2001:470:1f11:c5b::/64;
	2600:1f14:a70:7e00::/56;
	2600:1f16:e02:6800::/56;
	fe80::/10;
	::1/128;
	};

acl external
	{
	!key internal-key;
	key external-key;
	any;
	};

view "internal"
	{
	server 192.168.19.8
		{
		send-cookie no;
		edns no;
		};

	match-clients
		{
		internal;
		};

	allow-recursion
		{
		any;
		};

	zone "."
		{
		type hint;
		file "/usr/share/dns/root.hints";
		};
	{% for zone in infra.bind.internalZones %}
	{% set z = zone
		if zone is mapping
		else {"zone": zone, "masters": ["192.168.2.3 key internal-key"]}
	%}

	zone "{{ z.zone }}"
		{
		file "{{ z.zone }}";
		type slave;
		masterfile-format text;
		notify no;
		masters
			{
			{%- for master in z.masters +%}
			{{ master }};
			{%- endfor +%}
			};
		};
	{% endfor %}
	};

view "external"
	{
	recursion no;
	match-clients
		{
		external;
		};
	{% for zone in infra.bind.externalZones %}
	{% set z = zone
		if zone is mapping
		else {"zone": zone, "masters": ["192.168.2.3 key external-key"]}
	%}

	zone "{{ zone }}"
		{
		file "{{ zone }}-ext";
		type slave;
		masterfile-format text;
		notify no;
		masters
			{
			{%- for master in z.masters +%}
			{{ master }};
			{%- endfor +%}
			};
		};
	{% endfor %}
	};

logging
  {
	channel all
		{
		syslog local1;
		severity info;
		print-category yes;
		};

	category default
		{
		all;
		};
	};

