- name: Install packages
  become: true
  ansible.builtin.apt:
    install_recommends: no
    pkg:
      - keepalived

- name: Install keepalived config file
  become: true
  ansible.builtin.template:
    src: "templates/keepalived.conf.j2"
    dest: /etc/keepalived/keepalived.conf
    owner: root
    group: root
    mode: "0644"
  notify: "postgres.keepalived : Restart keepalived"
