{
"DhcpDdns": {
	"ip-address": "127.0.0.1",
	"port": 53001,
	"control-socket": {
		"socket-type": "unix",
		"socket-name": "/run/kea/kea-ddns-ctrl-socket"
	},
	"tsig-keys": [
		{
			"name": "{{ dhcp.ddns.key }}",
			"algorithm": "{{ infra.dhcp.ddnsKeys[dhcp.ddns.key].algorithm }}",
			"secret": "{{ infra.dhcp.ddnsKeys[dhcp.ddns.key].secret }}"
		}
	],
	"forward-ddns" : {
		"ddns-domains": [
			{%- for z in dhcp.ddns.forwardZones +%}
			{
				"name": "{{ z }}.",
				"key-name": "{{ dhcp.ddns.key }}",
				"dns-servers": [
					{%- for server in dhcp.ddns.dnsServers +%}
					{"ip-address": "{{ server }}"}{{ "" if loop.last else "," }}
					{%- endfor +%}
				]
			}{{ "" if loop.last else "," }}
			{%- endfor +%}
		]
	},
	"reverse-ddns" : {
		"ddns-domains": [
			{%- for z in dhcp.ddns.reverseZones +%}
			{
				"name": "{{ z }}.",
				"key-name": "{{ dhcp.ddns.key }}",
				"dns-servers": [
					{%- for server in dhcp.ddns.dnsServers +%}
					{"ip-address": "{{ server }}"}{{ "" if loop.last else "," }}
					{%- endfor +%}
				]
			}{{ "" if loop.last else "," }}
			{%- endfor +%}
		]
	},

	"loggers": [
		{
		"name": "kea-dhcp-ddns",
		"output_options": [{"output": "syslog:local3", "pattern": "%-5p %m\n"}],
		"severity": "INFO",
		"debuglevel": 0
		}
	]
}
}
