{
"Dhcp6": {
	"interfaces-config": {"interfaces": ["eth0"]},

	"control-socket": {
		"socket-type": "unix",
		"socket-name": "/run/kea/kea6-ctrl-socket"
	},

	"lease-database": {
		"type": "{{ infra.dhcp.dbType }}",
		"host": "{{ infra.dhcp.dbHost }}",
		"name": "{{ infra.dhcp.dbName }}",
		"user": "{{ infra.dhcp.dbUser }}",
		"password": "{{ infra.dhcp.dbPass }}"
	},

	"hosts-database": {
		"type": "{{ infra.dhcp.dbType }}",
		"host": "{{ infra.dhcp.dbHost }}",
		"name": "{{ infra.dhcp.dbName }}",
		"user": "{{ infra.dhcp.dbUser }}",
		"password": "{{ infra.dhcp.dbPass }}"
	},

	"server-tag": "{{ dhcp.v6Tag }}",
	"config-control": {
		"config-databases": [{
			"type": "{{ infra.dhcp.dbType }}",
			"host": "{{ infra.dhcp.dbHost }}",
			"name": "{{ infra.dhcp.dbName }}",
			"user": "{{ infra.dhcp.dbUser }}",
			"password": "{{ infra.dhcp.dbPass }}"
		}],
		"config-fetch-wait-time": 20
	},

	"hooks-libraries": [
		{"library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_pgsql_cb.so"},
		{"library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_lease_cmds.so"},
		{"library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_stat_cmds.so"}
	],

	"expired-leases-processing": {
		"reclaim-timer-wait-time": 10,
		"flush-reclaimed-timer-wait-time": 25,
		"hold-reclaimed-time": 3600,
		"max-reclaim-leases": 100,
		"max-reclaim-time": 250,
		"unwarned-reclaim-cycles": 5
	},

	"renew-timer": 1000,
	"rebind-timer": 2000,
	"preferred-lifetime": 3000,
	"valid-lifetime": 4000,

	{%- if dhcp.ddns is defined +%}
	"dhcp-ddns": {"enable-updates": true},

	{%- endif +%}
	"loggers": [
		{
			"name": "kea-dhcp6",
			"output_options": [{"output": "syslog:local3", "pattern": "%-5p %m\n"}],
			"severity": "INFO",
			"debuglevel": 0
		}
	]
}
}
