---
apiVersion: v1
kind: ConfigMap

data:
  config.json: |-
    [
      {
        "clusterID": "{{ cephfs.fsid }}",
        "monitors": [
{% for host in cephfs.monitors %}
          "{{ host }}"{{ "" if loop.last else "," }}
{% endfor %}
        ]
      }
    ]
metadata:
  name: ceph-csi-config
