connect = hostaddr={{ auth.host }} sslmode=disable dbname={{ auth.dbname }} user={{ auth.user }} password={{ auth.password }} connect_timeout=1

acct_query = select (%u not in (select user_name from users)), false
auth_query = select 'x' from users where user_name = %u
